.edit-optimization-btn {
  all: unset;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}