.home-header {
  width: 100%;
  padding: 0 0 10px 0;

  @media (max-width: 800px) {
    .home-header-content {
      box-shadow: none;
    }

    .tabs {
      .tab {
        padding: 10px 5px !important;
        font-size: 0.7em !important;
      }
    }
  }

  .home-header-content {
    width: 100%;
    box-shadow: 0 1px rgba(252, 22, 148, 0.3);
  }

  .tabs {
    width: 100%;

    .tab {
      padding: 5px 20px 15px 20px;
      font-size: 1em;
      text-transform: uppercase;
      height: 100%;
      transition: 0.3s;
      color: #dab7c9;

      &:hover {
        color: #fc1694;
      }

      &.active {
        color: #fc1694;
        box-shadow: 0 3px #fc1694;
      }
    }
  }


}