.reg-settings-layout {
  width: 100%;
  height: calc(100% - 55px);
  max-height: calc(100% - 55px);
}

.reg-settings-layout .filter-controls {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 10px 5px 10px;
}

.reg-settings-layout .filter-controls .select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
}

.reg-settings-layout section {
  width: 100%;
  height: calc(100% - 65px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reg-settings-layout .reg-settings {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

.reg-settings-layout .reg-settings::-webkit-scrollbar {
  width: 8px;
}

.reg-settings-layout .reg-settings::-webkit-scrollbar-track {
  background: #0c0f19;
}

.reg-settings-layout .reg-settings::-webkit-scrollbar-thumb {
  background-color: #fc1694;
  border-radius: 10px;
}

@media (max-width: 1600px) {
  .reg-settings-layout .reg-settings {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1366px) {
  .reg-settings-layout .reg-settings {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .reg-settings-layout .reg-settings {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.reg-settings-layout .reg-settings .owner-tag {
  padding: 5px;
  grid-column: 1 / -1;
  height: 30px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 1em;
}

@media (max-width: 800px) {
  .reg-settings-layout .reg-settings .owner-tag {
    font-size: 0.65em;
    padding: 3px;
  }
}

.reg-settings-layout .reg-settings .owner-tag .fastcheck-btns {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.reg-settings-layout .reg-settings .owner-tag .fastcheck-btns .check-button {
  font-size: 0.9em;
  border-radius: 10px;
  padding: 1px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reg-settings-layout .reg-settings .owner-tag .fastcheck-btns .check-button.check {
  background-color: rgba(10, 114, 19, 0.25);
}

.reg-settings-layout .reg-settings .owner-tag .fastcheck-btns .check-button.uncheck {
  background-color: rgba(117, 63, 84, 0.25);
}

.reg-settings-layout .reg-settings .owner-tag .fastcheck-btns .check-button:hover {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reg-settings-layout .reg-settings-footer {
  -webkit-box-shadow: 0 -1px rgba(252, 22, 148, 0.3);
          box-shadow: 0 -1px rgba(252, 22, 148, 0.3);
  width: 100%;
  height: 65px;
  min-height: 65px;
  padding: 0 20px;
}

@media (max-width: 800px) {
  .reg-settings-layout .reg-settings-footer .green {
    display: none;
  }
}
/*# sourceMappingURL=RegSettingsLayout.css.map */