.package-details-layout {
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    height: calc(100% - 65px);
    flex: 1;
  }

  .filter-controls {
    width: 100%;
    height: max-content;
    padding: 0px 15px 0px 15px;

    .select {
      width: max-content;
      padding: 0;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .header {
    width: calc(100% - 10px);
    height: max-content;
    min-height: 260px;
    max-height: 260px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .title {
      width: 100%;
      height: 80px;
      min-height: 80px;
      border-bottom: 3px solid rgba(255, 255, 255, 0.2);
      padding: 5px 25px 5px 25px;


      @media (max-width: 800px) {
        height: 60px;
        min-height: 60px;
      }

      .title-text {
        width: 100%;
        height: max-content;
        padding: 5px;
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #18c398;


        @media (max-width: 800px) {
          font-size: 1.5em;
        }
      }
    }

    .package-description {
      width: 100%;
      height: max-content;

      .creator {
        width: 100%;
        height: max-content;
        padding: 30px 30px 0 30px;

        .creator-details {
          .nickname {
            font-size: 1em;
            font-weight: bold;

            &.admin {
              color: #fc1694;
            }
          }

          .role {
            font-size: 0.75em;
            color: rgba(255, 255, 255, 0.6);
          }

          .created-at {
            font-size: 0.7em;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .description {
        width: 100%;
        height: calc(100% - 50px);
        min-height: 100px;
        padding: 5px 25px 5px 25px;
        font-size: 1.2em;
        overflow-y: auto;


        @media (max-width: 800px) {
          font-size: 0.8em;
        }

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: #0c0f19;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fc1694;
          border-radius: 10px;
        }
      }
    }
  }

  .optimizations-layout {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #0c0f19;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fc1694;
      border-radius: 10px;
    }

    @media (max-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1366px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .owner-tag {
      padding: 5px;
      grid-column: 1 / -1;
      height: 30px;
      color: rgba(255, 255, 255, 0.25);
      font-size: 1em;

      @media (max-width: 800px) {
        font-size: 0.6em;
        padding: 3px;
      }

      .fastcheck-btns {
        width: max-content;

        .check-button {
          font-size: 0.9em;
          border-radius: 10px;
          padding: 1px 10px;
          transition: all 0.2s ease-in-out;

          &.check {
            background-color: rgba(10, 114, 19, 0.25);
          }

          &.uncheck {
            background-color: rgba(117, 63, 84, 0.25);
          }

          &:hover {
            color: rgba(255, 255, 255, 0.5);
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .package-footer {
    box-shadow: 0 -1px rgba(252, 22, 148, 0.3);
    width: 100%;
    height: 65px;
    min-height: 65px;
    padding: 0 20px;

    @media (max-width: 800px) {
      display: none !important;
    }
  }
}